[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Hibernate Hello World example using Maven build tool and SQLite database - srccodes.com
Type=Link
URL=http://www.srccodes.com/p/article/7/Annotation-based-Hibernate-Hello-World-example-using-Maven-build-tool-and-SQLite-database
Icon=(null)
Name[de_DE]=Hibernate Hello World example using Maven build tool and SQLite database - srccodes.com
